.navigation {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    background-color: $main-white;
    z-index: 2;

    .row {
        display: flex;
        justify-content: end;

        .logo {

            .logo_photo {
                @include size(200px, 70px);
            }
        }

        .nav-bar {
            display: flex;
            list-style-type: none;
            padding: 1.5% 0 0 30%;
            width: 100%;

            @include max-mobile-large {
                justify-content: center;
                display: block;
                width: 100%;
                text-align: center;
                padding: 0;

                .nav-item {
                    padding-bottom: 3%;
                    padding-top: 3%;
                    max-width: 100%;
                    font-size: $page-header-fsize;
                    border-bottom: solid 2px $main-gray;
                }
            }

            .nav-item {
                margin: 0 30px 0 30px;

                &:hover {
                    padding: auto auto;
                    border-bottom: solid 5px $main-blue;
                }

                .nav-link {
                    color: $main-gray;
                    font-weight: $heavy-font;
                    text-decoration: none;

                    &:hover {
                        cursor: pointer;

                    }
                }
            }
        }
    }
}