.navigation {
    display: flex;
    //justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: $main-white;

    .row {

        .logo {
            display: flex;

            .logo_photo {
                @include size(200px, 70px);
            }
        }

        .nav-bar {
            display: flex;
            align-items: center;
            justify-content: space-around;
            list-style-type: none;

            .nav-item {
                margin: 0 30px 0 30px;

                &:hover {
                    padding: auto auto;
                    background-color: $main-gray-lgh;
                }

                .nav-link {
                    color: $main-gray;
                    font-weight: $heavy-font;
                    text-decoration: none;

                    &:hover {
                        cursor: pointer;
                        //text-transform: uppercase;

                    }
                }
            }
        }
    }
}