header {
    background-color: $main-gray;
    max-width: 100%;
    height: auto;
    color: $main-green;
    padding: 10% 40%;
    @include section;

    .hex {
        z-index: 0;
    }

    .decoration_hex-top-left {
        @include hex-top-left;
    }

    .decoration_hex-top-right {
        @include hex-top-right;
    }

    .decoration_hex-mid-left {
        @include hex-mid-left;
    }

    .decoration_hex-mid-right {
        @include hex-mid-right;
    }

    .decoration_hex-center {
        @include hex-center;
    }

    .decoration_hex-mid-top {
        @include hex-mid-top;
    }

    .decoration_hex-mid-bottom {
        @include hex-mid-bottom;
    }

    .decoration_hex-bottom-right {
        @include hex-bottom-right;
    }

    .decoration_hex-bottom-left {
        @include hex-bottom-left;
    }

    .welcome_photo {
        background-repeat: no-repeat;
        background-color: $main-white;
        border-radius: 50%;
        border: solid 8px $main-blue;
        max-width: 100%;
        width: 18vw;
        height: auto;
    }
}