header {
    background-color: $main-black;
    width: 100%;
    color: $main-green;
    padding: 10% 40%;
    @include section;

    .welcome_photo {
        @include size(200px, 250px);
        background-repeat: no-repeat;
        background-color: $main-white;
        border-radius: 50%;
        border: solid 8px $main-blue;
    }

    .decoration {
        &_hex-top-left {
            @include hex-top-left;
        }

        &_hex-top-right {
            @include hex-bottom-right;
        }
    }
}